<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= repoName %> - InsightSerenity</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h1><%= repoName %></h1>
        <h2>Commit History</h2>
        <ul>
            <% log.all.forEach(function(commit) { %>
                <li>
                    <strong><%= commit.hash %></strong>: <%= commit.message %>
                    <br>
                    Author: <%= commit.author_name %>, Date: <%= commit.date %>
                </li>
            <% }); %>
        </ul>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>